@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    background-color: #1a1919;
}

.header{
    padding: 80px;
    height: 150px;
    display: flex;
    align-items: center;
    padding-left: 400px;
    background-color: #1a1919;
}

h1{
    background: linear-gradient(140deg, #F9E0A9, #DBC58B, #A98A4E);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'Exo 2', sans-serif;
    font-size: 32px;
}

.logo{
    height: 100px;
    width: 100px;
    margin-left: 50px;
}

.shelf{
    display: flex;
    align-items: center;
    margin-left: 300px;
    margin-right: 300px;
    gap: 5px;
    padding: 3px;
    background-color: #000000;
}

.square-shape-S{
    height: 90px;
    width: 200px;
    background-color: #e94141;
    display: flex;
    justify-content: center;
    align-items: center;
    Border-radius: 10px;
}

h2{
    font-family: 'Bebas Neue', sans-serif; 
    color: #121212; 
    font-size: 28px; 
    text-transform: uppercase;
}

.placing-option{
    height: 90px;
    width: 1200px;
    background-color: #1a1919;
    border-radius: 10px;
}

.square-shape-A{
    height: 90px;
    width: 200px;
    background-color: #FFC966;
    display: flex;
    justify-content: center;
    align-items: center;
    Border-radius: 10px;
}

.square-shape-B{
    height: 90px;
    width: 200px;
    background-color: #FFFF8D;
    display: flex;
    justify-content: center;
    align-items: center;
    Border-radius: 10px;
}

.square-shape-C{
    height: 90px;
    width: 200px;
    background-color: #8EFF8D;
    display: flex;
    justify-content: center;
    align-items: center;
    Border-radius: 10px;
}

.square-shape-D{
    height: 90px;
    width: 200px;
    background-color: #8DA0FF;
    display: flex;
    justify-content: center;
    align-items: center;
    Border-radius: 10px;
}