@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    padding: 80px;
    height: 150px;
    display: flex;
    align-items: center;
    padding-left: 400px;
    background-color: #1a1919;
}

h1{
    background: linear-gradient(140deg, #F9E0A9, #DBC58B, #A98A4E);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'Exo 2', sans-serif;
    font-size: 32px;
}

.logo{
    height: 95px;
    width: 95px;
    margin-left: 30px;
}

.main{
    background-color: #1a1919;
}

.shelf{
    display: flex;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    gap: 7px;
    padding: 3px;
    background-color: #000000;
}

.square-shape-S, .square-shape-A, .square-shape-B, .square-shape-C, .square-shape-D{
    height: 100px;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    Border-radius: 10px;
}

h2{
    font-family: 'Bebas Neue', sans-serif; 
    color: #121212; 
    font-size: 28px; 
    text-transform: uppercase;
}

.placing-option{
    height: 100px;
    width: 1300px;
    background-color: #1a1919;
    border-radius: 10px;
}

.square-shape-S{
    background-color: #e94141;
}

.square-shape-A{
    background-color: #FFC966;
}

.square-shape-B{
    background-color: #FFFF8D;
}

.square-shape-C{
    background-color: #8EFF8D;
}

.square-shape-D{
    background-color: #8DA0FF;
}

.title-teams{
    padding: 15px 0px 15px 230px;
}

h3{
    background: linear-gradient(140deg, #F9E0A9, #DBC58B, #A98A4E);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'Exo 2', sans-serif;
    font-size: 22px;
}

.options-sections-teams{
    display: flex;
    gap: 10px;
    margin-top: 7px;
    margin-left: 230px;
    margin-right: 200px;
    flex-wrap: wrap;
    display: flex;
}

.teams{
    height: 95px;
    width: 95px;
    border-radius: 10px;
}

.footer{
    height: 80px;
    background-color: #1a1919;
    display: flex;
    justify-content: center;
    align-items: center;
}

h4{
    background: linear-gradient(140deg, #F9E0A9, #DBC58B, #A98A4E);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
}